#logo{
    width:auto;
    height:35px;
    background-color:#e9f3ff;
}
.btn {
    z-index:1;
}
.content{
	margin :0px 100px;
	color:#111111;
}
#product-name{
	font-size:4rem;
}
img {
aspect-ratio:1;
}
svg{
    width:15px;
	aspect-ratio:1;
}
